<%= simple_form_for :candidate, url: candidates_send_invite_path do |f| %>
  <div class="modal-content">
    <h4 class="card-panel teal lighten-2">Invite New Candidates</h4>
    <div class="input-field col s6">
      <%= f.input :name, as: :string %>
    </div>
    <div class="input-field col s6">
      <%= f.input :email, as: :string %>
    </div>

  </div>
  <div class="modal-footer">
    <%= f.button :submit, :value => 'Send Invites', :class=>'modal-close waves-effect waves-green teal btn'%>
  </div>
<% end %>
